@import "src/app/constants.scss";

.map {
  width: 100%;
  height: 500px;
}

svg, .svg {
  height: 100px;
}
.d-none {
  display: none;
}
.mappage-markers-control-container {
  padding: 20px 40px;
}
.mappage-markers-control-container input {
  margin: 0 20px;
}
.generated-images-container {
  padding: 10px 40px;
}
